*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.container{
    background-color: white;
    width: 800px;
    min-height: 90px;
    margin: 0px auto;
    position: relative;
    top: 50px;
    border: 2px solid grey;
}

.box{
    background-color: #17a2b8;
    height: 150px;
    width: 100%;
    align-items: flex-end;
}

.user1{
    border: 5px white solid;
    width: 15%;
    border-radius: 50%;
    position: absolute;
    top: 65px;
    left: 20px;
}

.info{
    background-color: white;
    padding: 50px 50px 50px 30px;
}

.name{
    color: black;
}

.locationsym{
    position: relative;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.locationsym img{
    width: 18px;
}

.location{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.locationsym p{
    padding-left: 20px;
}

.trades{
    background-color: white;
    font-weight: bold;
    padding-bottom: 3px;
}

.trades2{
    background-color:white;
    font-weight: bold;
    padding-bottom: 10px;
}

.gear{
    background-color: white;
    width: 18px;
    top: 5px;
}